In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
data = pd.read_csv("countries.csv")
data2007 = data[data.year==2007]
asiaeurope2007= data2007[(data2007.continent=='Asia')|(data2007.continent=='Europe')]
asiaeurope2007
sns.pairplot(data2007,diag_kind='kde',hue='continent')
asia2007 = data2007[data2007.continent=='Asia']
europe2007 = data2007[data2007.continent=='Europe']

C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\nonparametric\kde.py:487: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
C:\Users\DELL\Anaconda3\lib\site-packages\statsmodels\nonparametric\kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2

In [2]:
from statsmodels.stats.multicomp import (pairwise_tukeyhsd,
                                         MultiComparison)
# Set up the data for comparison (creates a specialised object)
MultiComp = MultiComparison(data2007['gdpPerCapita'],data2007['continent'])
print(MultiComp.tukeyhsd(alpha=0.001).summary())

       Multiple Comparison of Means - Tukey HSD, FWER=0.00
=================================================================
 group1   group2   meandiff  p-adj     lower      upper    reject
-----------------------------------------------------------------
  Africa Americas   7913.999 0.0112  -1700.3255 17528.3235  False
  Africa     Asia  9383.9943  0.001    591.8276 18176.1609   True
  Africa   Europe  21965.449  0.001  12908.3375 31022.5606   True
  Africa  Oceania 26721.1557 0.0024  -1744.7692 55187.0806  False
Americas     Asia  1469.9952    0.9  -9004.4761 11944.4666  False
Americas   Europe   14051.45  0.001   3353.6173 24749.2827   True
Americas  Oceania 18807.1566 0.0789 -10222.5047  47836.818  False
    Asia   Europe 12581.4548  0.001   2615.9852 22546.9243   True
    Asia  Oceania 17337.1614 0.1204 -11430.6712  46104.994  False
  Europe  Oceania  4755.7066    0.9 -24094.2027  33605.616  False
-----------------------------------------------------------------

In [3]:
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols
mod = ols('gdpPerCapita ~ continent', data = data2007).fit()
aov_table = sm.stats.anova_lm(mod, typ=2)
print(aov_table)

                 sum_sq     df          F        PR(>F)
continent  9.893766e+09    4.0  25.241963  1.126945e-15
Residual   1.342453e+10  137.0        NaN           NaN

rel between gdp and continent is sign high ....but which continent -- don't know ....
 PAIR WISE T TEST ___

In [4]:
data2007

,country,continent,year,lifeExpectancy,population,gdpPerCapita
11,Afghanistan,Asia,2007,43.828,31889923,974.580338
23,Albania,Europe,2007,76.423,3600523,5937.029526
35,Algeria,Africa,2007,72.301,33333216,6223.367465
47,Angola,Africa,2007,42.731,12420476,4797.231267
59,Argentina,Americas,2007,75.320,40301927,12779.379640
...,...,...,...,...,...,...
1655,Vietnam,Asia,2007,74.249,85262356,2441.576404
1667,West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906
1691,Zambia,Africa,2007,42.384,11746035,1271.211593
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [ ]:
sns.pairplot(data2007,hue = )